* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

#App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  min-height: 89px;
  flex-shrink: 0;
}

#main {
  flex-grow: 1;
}

#footer {
  min-height: 89px;
  flex-shrink: 0;
}

#header .active {
  color: #2eff51;
}

#header :hover:not(.active) {
  color: #6a92ff;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  margin: 50px 0;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.swiper-slide img {
  background-size: cover;
  display: block;
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.Slider {
  margin: 200px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
